@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.note-preview-popover {
  @apply hidden sm:block absolute rounded-md max-w-[420px] ring-1 ring-gray-200 ring-opacity-50 bg-white px-5 py-4;

  filter: drop-shadow(0 -5px 10px rgb(0 0 0 / 0.08))
    drop-shadow(0 10px 10px rgb(0 0 0 / 0.1));
}

.note-preview-popover-arrow,
.note-preview-popover-arrow::before {
  position: absolute;
  width: 22px;
  height: 22px;
  background: inherit;
}

.note-preview-popover[data-popper-placement^='top'] > .note-preview-popover-arrow {
  bottom: -4px;
}

.note-preview-popover[data-popper-placement^='bottom'] > .note-preview-popover-arrow {
  top: -4px;
}

.note-preview-popover[data-popper-placement^='left'] > .note-preview-popover-arrow {
  right: -4px;
}

.note-preview-popover[data-popper-placement^='right'] > .note-preview-popover-arrow {
  left: -4px;
}

.note-preview-popover-arrow {
  visibility: hidden;
}

.note-preview-popover-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
